<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:task="http://www.springframework.org/schema/task"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task-3.0.xsd">
	
	<!-- you can use "," to separate multiple packages -->
	<context:component-scan base-package="com.logpie.shopping.management.controller, com.logpie.shopping.management.auth.controller" />
	
	<mvc:interceptors>
		<!-- This bit of XML will intercept all URLs - which is what you want in a web app -->
		<!-- Currently logpie want to intercept all the request -->
		<bean class="com.logpie.shopping.management.auth.controller.AuthInterceptor" />
		<!-- This bit of XML will apply certain URLs to certain interceptors  -->
		<!--
		<mvc:interceptor>
			<mvc:mapping path="/" />
			<bean class="" />
		</mvc:interceptor>
		 -->
	</mvc:interceptors>
	
	<bean id="ViewResolver"
		  class="org.springframework.web.servlet.view.InternalResourceViewResolver">
			<property name="prefix">
				<value>/WEB-INF/logpie_management_view/</value>
			</property>
			<property name="suffix">
				<value>.jsp</value>
			</property>	
    </bean>
    <mvc:resources location="/resources/" mapping="/resources/**"/>
    <mvc:annotation-driven/>
    
    <bean id="Initialization" class="com.logpie.shopping.management.init.LogpieInitialization" init-method="init">
    </bean>
    <task:annotation-driven/>
    <!-- Cron jobs in logpie system. System backup and currency rate update -->
    <bean id="LogpieBackupManager" class="com.logpie.shopping.management.backup.LogpieBackupManager"></bean>
    <bean id="LogpieCurrencyRateUtils" class="com.logpie.shopping.management.util.CurrencyRateUtils"></bean>
		  
</beans>