 .logpiefooter {
   height : 40px;
   margin-top : 40px;
   margin-left: 140px;
   margin-right: auto;
 }
 
 .table tbody tr.info th {
    background-color: #d6ebff;
    color:#5c5c60;
}

body{
	font-family:Arial;
	word-wrap: break-word;
}