 .logpiefooter {
   height : 40px;
   margin-top : 40px;
   margin-left: 140px;
   margin-right: auto;
 }
 
.table tbody tr.info th {
    background-color: #d6ebff;
    color:#5c5c60;
}

body{
	font-family:Arial;
	word-wrap: break-word;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  padding: 2px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #ddd;
}